.form-container {
  padding: 20px;
}

.input-value {
  width: 95%;
  border: none;
  border-bottom: 1px solid white;
  padding: 5px;
  background-color: transparent;
  line-height: 17px;
  font-size: 16px;
  outline: none;
  color: white;
}

.submit-container {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: flex-end;
}

.task-amount {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 4px;
}

.form-copy {
  margin-bottom: -10px;
  margin-top: 50px;
}

.day {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.habiticon {
  width: 36px;
  height: 36px;
  margin-right: 7px;
  margin-bottom: 10px;
}

.radiolabel > .radioinput {
  visibility: hidden;
  position: absolute;
}

.radiolabel > .radioinput:checked + img {
  opacity: 0.3;
  cursor: pointer;
}

.habiticon:hover {
  cursor: pointer;
  opacity: 0.3;
}

.day:hover {
  background-color: white;
  opacity: 1;
  color: black;
}

.checklabel > .checkinput {
  visibility: hidden;
  position: absolute;
}

.checklabel > .checkinput:checked + h6 {
  background-color: white;
  opacity: 1;
  color: black;
  cursor: pointer;
}

@media (max-width: 376px) {
  .form-container {
    padding: 10px;
  }
}
